<ion-header>
  <ion-toolbar>
    <ion-title>Ubicación Actual</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%;">
      <ion-col size="12" size-md="6" class="ion-text-center">

        <!-- BOTÓN para obtener ubicación -->
        <ion-button expand="block" color="success" (click)="obtenerUbicacion()">
          Obtener Ubicación
        </ion-button>

        <!-- Coordenadas -->
        <ion-card *ngIf="latitude !== null && longitude !== null">
          <ion-card-header>
            <ion-card-title>Coordenadas</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p><strong>Latitud:</strong> {{ latitude }}</p>
            <p><strong>Longitud:</strong> {{ longitude }}</p>
            <ion-button expand="block" color="primary" (click)="openInGoogleMaps()">
              Ver en Google Maps
            </ion-button>
          </ion-card-content>
        </ion-card>

        <!-- Cargando -->
        <div *ngIf="mostrandoMensajeCarga">
          <p>Obteniendo ubicación...</p>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>